{% extends "_global/index.html" %} {% block main %}
<div class="container">
    <div class="row">
        <a href="{{BASE}}user/profile" class="col-4 col-sm-4 col-md-4 text-center dash">Nazad na Dashboard</a>
        <a href="{{ BASE }}user/models/add" class="col-4 col-sm-4 col-md-4 text-center dash">Dodaj novi model</a>
        <a href="{{ BASE }}user/models/delete" class="col-4 col-sm-4 col-md-4 text-center dash">Obrisi model</a>
    </div>

    <h2 class="text-center">Modeli:</h2>
    <div class="row">
        
            {% for model in models %}
            
                <a href="{{ BASE }}user/models/edit/{{ model.model_id }}" class="col-6 col-sm-3 col-md-3 text-center dash">
                    {{ model.name|escape }}
                </a> {% endfor %}
        
    </div>
</div>
{% endblock %}