{% extends "_global/index.html" %} {% block main %}
<div class="container">
    <div class="row">
        <a href="{{BASE}}user/profile" class="col-4 col-sm-4 col-md-4 text-center dash">Nazad na Dashboard</a>
        <a href="{{ BASE }}user/manufacturers/add" class="col-4 col-sm-4 col-md-4 text-center dash">Dodaj novog proizvodjaca</a>
        <a href="{{ BASE }}user/manufacturers/delete" class="col-4 col-sm-4 col-md-4 text-center dash">Obrisi proizvodjaca</a>
    </div>
    <h2 class="text-center">Proizvodjaci:</h2>
    <div class="row">
       
            {% for manufacturer in manufacturers %}
           
                <a href="{{ BASE }}user/manufacturers/edit/{{ manufacturer.manufacturer_id }}" class="col-12 col-sm-4 col-md-4 text-center dash">
                    {{ manufacturer.name|escape }}
                </a>
               {% endfor %}
        
    </div>
</div>
{% endblock %}