{% extends "_global/index.html" %} {% block main %} {% spaceless %}
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="our-services-wrapper mb-60">
            <div class="services-inner">
                <div class="our-services-img">
                    <img src="{{BASE}}/assets/images/l.GIF" width="68px" alt="">
                </div>
                <div class="our-services-text">
                    <a href="{{BASE}}user/orders" class="col-12 col-sm-6 col-md-6 text-center ">
                        Upravljanje porudzbinama
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="our-services-wrapper mb-60">
            <div class="services-inner">
                <div class="our-services-img">
                    <img src="{{BASE}}/assets/images/l.GIF" width="68px" alt="">
                </div>
                <div class="our-services-text">
                    <a href="{{BASE}}user/categories" class="col-12 col-sm-6 col-md-6 text-center ">
                        Upravljanje kategorijama
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="our-services-wrapper mb-60">
            <div class="services-inner">
                <div class="our-services-img">
                    <img src="{{BASE}}/assets/images/l.GIF" width="68px" alt="">
                </div>
                <div class="our-services-text">
                    <a href="{{BASE}}user/manufacturers" class="col-12 col-sm-6 col-md-6 text-center ">
                        Upravljanje proizvodjačima
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="our-services-wrapper mb-60">
            <div class="services-inner">
                <div class="our-services-img">
                    <img src="{{BASE}}/assets/images/l.GIF" width="68px" alt="">
                </div>
                <div class="our-services-text">
                    <a href="{{BASE}}user/profiles" class="col-12 col-sm-6 col-md-6 text-center ">
                        Upravljanje profilom
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="our-services-wrapper mb-60">
            <div class="services-inner">
                <div class="our-services-img">
                    <img src="{{BASE}}/assets/images/l.GIF" width="68px" alt="">
                </div>
                <div class="our-services-text">
                    <a href="{{BASE}}user/models" class="col-12 col-sm-6 col-md-6 text-center ">
                        Upravljanje uslugama
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="our-services-wrapper mb-60">
            <div class="services-inner">
                <div class="our-services-img">
                    <img src="{{BASE}}/assets/images/l.GIF" width="68px" alt="">
                </div>
                <div class="our-services-text">
                    <a href="{{BASE}}user/orders" class="col-12 col-sm-6 col-md-6 text-center ">
                        Upravljanje porudzbinama
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %} {% endblock %}