{% extends "_global/index.html" %} {% block main %}
<div class="container">
    <div class="row">
        <form action="{{BASE}}user/login" method="POST" class="col col-md-8 offset-md-2 card">
            <div class="card-header">
                <h4 class="text-center">Prijava Korisnika</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required class="form-control" placeholder="Unesite svoj email.">
                </div>

                <div class="form-group">
                    <label for="password">Šifra:</label>
                    <input type="password" id="password" name="password" required class="form-control" placeholder="Unesite svoju lozinku.">
                </div>
            </div>

            <div class="card-footer text-center">
                <button class="btn btn-primary " type="submit">
                    Log in
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}