{% extends "_global/index.html" %} {% block main %}
<div class="container">
    <div class="row">
        <a href="{{BASE}}user/profile" class="col-4 col-sm-4 col-md-4 text-center dash">Nazad na Dashboard</a>
        <a href="{{ BASE }}user/categories" class="col-8 col-sm-8 col-md-8 text-center dash">Prikazi sve kategorije</a>
    </div>
    <h2 class="text-center">Dodavanje kategorije:</h2>
    <form class="category-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Naziv: </label>
            <input type="text" id="name" name="name" required class="form-control" pattern=".*[^\s]{3,}.*">
        </div>
        <div class="form-group">
            <label for="picture">Slika: </label>
            <input type="file" id="picture" class="form-control" name="picture" accept="image/jpeg">
        </div>
        <div class="form-group">
            <label for="description">Opis: </label>
            <textarea type="text" id="description" name="description" required rows="10" class="form-control" pattern=".*[^\s]{3,}.*"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Dodaj kategoriju
            </button>
        </div>
    </form>
</div>
{% endblock %}